/*
    Daniela's CSS File
*/
body { 
  margin: auto; 
  padding: 0;
}

#title {
  text-align: center;
}
  
#container { 
  position:relative; 
  margin: auto; 
  width: 0%; 
}
  
#map { 
  position: absolute;
  height: 60%; 
  width: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

.popupimage { 
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
